{% extends "base.html" %}

{% block title %}My Applications{% endblock %}

{% block navbar_buttons %}
<a class="btn btn-primary" data-bs-toggle="collapse" href="{% url 'jobseeker_dashboard' %}" role="button">Jobseeker's
    Dashboard</a>
<a href="{% url 'logout' %}" class="btn btn-success">Logout</a>
{% endblock %}

<!-- Page Header -->
{% block page_header %}
<div class="container mt-4">
    <h2 class="mb-1">View Applications</h2>
    <p class="text-muted">All applications you applied</p>
    <hr>
</div>
{% endblock %}

{% block content %}
<div class="list-group container mt-5">
    {% for app in applications %}
    <div class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
        <div class="flex-column">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{ app.job.job_title }}</h5>
            </div>
            <p class="mb-1"><strong>{{ app.job.company_name }}</strong></p>
            <p class="mb-1">Status: <strong>{{ app.status }}</strong></p>
            <small>Applied on {{ app.applied_date|date:"d M Y" }}</small>
        </div>
    </div>
    {% empty %}
    <div class="list-group-item">
        <p class="mb-0">You have not applied to any jobs yet.</p>
    </div>
    {% endfor %}
</div>
{% endblock %}
