{% extends "base.html" %}

{% block title %}Jobseeker Job List{% endblock %}

{% block navbar_buttons %}
        <a class="btn btn-primary" data-bs-toggle="collapse" href="{% url 'jobseeker_dashboard' %}" role="button">Jobseeker's Dashboard</a>
        <a class="btn btn-primary" data-bs-toggle="collapse" href="{% url 'my_applications' %}" role="button">My Applications</a>
        <a href="{% url 'logout' %}" class="btn btn-success">Logout</a>
{% endblock %}

<!-- Page Header -->
{% block page_header %}
<div class="container mt-4">
    <h2 class="mb-1">Jobs List</h2>
    <div>
        <form method="GET" class="mb-4">
            <div class="input-group">
                <input type="text" name="q" value="{{ query }}" class="form-control" placeholder="Search jobs by title, company, or location">
                <button class="btn btn-primary" type="submit">Search</button>
            </div>
        </form>

    </div>
<!--    <p class="text-muted">All applications you applied</p>-->
    <hr>
</div>
{% endblock %}

{% block content %}
{% if jobseeker_job_list_page_obj %}
<div class="list-group container mt-5">
    {% for job in jobseeker_job_list_page_obj %}
        <div class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
            <div class="flex-column">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">{{ job.job_title }}</h5>
                </div>
                <p class="mb-1"><strong>{{ job.company_name }}</strong></p>
                <small class="text-muted">{{ job.location }} | {{ job.created_date|date:"d M Y" }}</small>
            </div>

            <div>
                <a href="{% url 'job_detail' job.id %}" class="btn btn-primary">View Job</a>
            </div>
        </div>
<!--    </form>-->
    {% endfor %}
</div>
{% else %}
<div class="container mt-5 d-flex justify-content-center align-items-center vh-100">Jobs are posted yet.</div>

{% endif %}
<nav>
    <ul class="pagination justify-content-center mt-4">

        {% if jobseeker_job_list_page_obj.has_previous %}
            <li class="page-item">
                {% if query %}
                    <a class="page-link" href="?q={{ query }}&page={{ jobseeker_job_list_page_obj.previous_page_number }}">Previous</a>
                {% else %}
                    <a class="page-link" href="?page={{ jobseeker_job_list_page_obj.previous_page_number }}">Previous</a>
                {% endif %}
<!--                <a class="page-link" href="?q={{ query }}&page={{ jobseeker_job_list_page_obj.previous_page_number }}">Previous</a>-->
            </li>
        {% endif %}

        <li class="page-item active">
            <span class="page-link">
                Page {{ jobseeker_job_list_page_obj.number }} of {{ jobseeker_job_list_page_obj.paginator.num_pages }}
            </span>
        </li>

        {% if jobseeker_job_list_page_obj.has_next %}
            <li class="page-item">
                {% if query %}
                    <a class="page-link" href="?q={{ query }}&page={{ jobseeker_job_list_page_obj.next_page_number }}">Next</a>
                {% else %}
                    <a class="page-link" href="?page={{ jobseeker_job_list_page_obj.next_page_number }}">Next</a>
                {% endif %}
            </li>
        {% endif %}

    </ul>
</nav>

{% endblock %}
