<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Jobseeker Job List</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Jobseeker Job List</a>

    <div class="ml-auto">
<!--        <a class="btn btn-primary" data-bs-toggle="collapse" href="{% url 'post_job' %}" role="button">Post Jobs</a>-->

        <a class="btn btn-primary" data-bs-toggle="collapse" href="{% url 'jobseeker_dashboard' %}" role="button">Jobseeker's Dashboard</a>
        <a class="btn btn-primary" data-bs-toggle="collapse" href="{% url 'my_applications' %}" role="button">My Applications</a>
        <a href="{% url 'logout' %}" class="btn btn-success">Logout</a>
    </div>

</nav>

{% if jobseeker_job_list %}
<div class="list-group container mt-5">
    {% for job in jobseeker_job_list %}
        <div class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
            <div class="flex-column">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">{{ job.job_title }}</h5>
                </div>
                <p class="mb-1"><strong>{{ job.company_name }}</strong></p>
                <small class="text-muted">{{ job.location }} | {{ job.created_date|date:"d M Y" }}</small>
            </div>

            <div>
                <a href="{% url 'job_detail' job.id %}" class="btn btn-primary">View Job</a>
            </div>
        </div>
<!--    </form>-->
    {% endfor %}
</div>
{% else %}
<div class="container mt-5 d-flex justify-content-center align-items-center vh-100">Jobs are posted yet.</div>

{% endif %}
</body>
</html>