<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Job List</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Job List</a>

    <div class="ml-auto">
        <a class="btn btn-primary" data-bs-toggle="collapse" href="{% url 'post_job' %}" role="button">Post Jobs</a>

        <a class="btn btn-primary" data-bs-toggle="collapse" href="{% url 'recruiter_dashboard' %}" role="button">
        Recruiter's Dashboard
      </a>
        <a href="{% url 'logout' %}" class="btn btn-success">Logout</a>
    </div>

</nav>
{% if messages %}
  <div class="container mt-3">
    {% for message in messages %}
      <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert">
          <span>&times;</span>
        </button>
      </div>
    {% endfor %}
  </div>
{% endif %}
{% if recruiter_job_list %}
    <div class="list-group container mt-5">
        {% for job in recruiter_job_list %}
      <a href="{% url 'job_applications' job.id %}" class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">{{ job.job_title }}</h5>
          <small>{{ job.created_date|date:"d M Y" }}</small>
        </div>
        <p class="mb-1 b">{{ job.company_name }}</p>
        <small>{{ job.location }}</small>
<!--          <a href="" class="btn btn-outline-primary btn-sm">-->
<!--    View Applications-->
<!--</a>-->

      </a>
        {% endfor %}
    </div>
{% else %}
<div class="container mt-5 d-flex justify-content-center align-items-center vh-100">You haven't posted any Jobs yet.</div>

{% endif %}
</body>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"></script>
</html>