{% extends "base.html" %}

{% block title %}Recruiter's Job List{% endblock %}

{% block navbar_buttons %}
        <a class="btn btn-primary" data-bs-toggle="collapse" href="{% url 'post_job' %}" role="button">Post Jobs</a>
        <a class="btn btn-primary" data-bs-toggle="collapse" href="{% url 'recruiter_dashboard' %}" role="button">Recruiter's Dashboard</a>
        <a href="{% url 'logout' %}" class="btn btn-success">Logout</a>
{% endblock %}

<!-- Page Header -->
{% block page_header %}
<div class="container mt-4">
    <h2 class="mb-1">Job List</h2>
    <p class="text-muted">All jobs posted by you</p>
    <hr>
</div>
{% endblock %}

{% block content %}
{% if recruiter_job_list %}
    <div class="list-group container mt-5">
        {% for job in recruiter_job_list %}
      <a href="{% url 'job_applications' job.id %}" class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">{{ job.job_title }}</h5>
          <small>{{ job.created_date|date:"d M Y" }}</small>
        </div>
        <p class="mb-1 b">{{ job.company_name }}</p>
        <small>{{ job.location }}</small>
      </a>
        {% endfor %}
    </div>
{% else %}
<div class="container mt-5 d-flex justify-content-center align-items-center vh-100">You haven't posted any Jobs yet.</div>

{% endif %}
{% endblock %}