{% extends "base.html" %}

{% block title %}Recruiter's Dashboard{% endblock %}

{% block navbar_buttons %}
        <a class="btn btn-primary" data-bs-toggle="collapse" href="{% url 'recruiter_job_list' %}" role="button">Job List</a>
        <a class="btn btn-primary" data-bs-toggle="collapse" href="{% url 'post_job' %}" role="button">Post Jobs</a>
        <a href="{% url 'logout' %}" class="btn btn-success">Logout</a>
{% endblock %}

<!-- Page Header -->
{% block page_header %}
<div class="container mt-4">
    <h2 class="mb-1">Recruiter's Dashboard</h2>
    <hr>
</div>
{% endblock %}

{% block content %}
{% endblock %}


